.header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    display: flex;
    justify-content: center;
}

.tab button {
    background-color: rgba(14, 148, 205, 0.663);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    border-radius: 5%;
}

.tab button:hover {
    background-color: rgb(66, 186, 237);
}

#leaveForm {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(14, 149, 205);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="text"],
select,
input[type="date"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    padding-right: 30px;
}

button[type="submit"] {
    background-color: rgb(14, 149, 205);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: rgb(35, 149, 198);
}

.clear-button {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.clear-button:hover {
    background-color: #d32f2f;
}

.submit-button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button-container button {
    margin: 0 5px;
    display: inline-block;
}

#leaveHistory {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(14, 149, 205);
    overflow: hidden;
    margin: 10px auto;
    width: 80%;
    padding: 30px;
}

#leaveHistoryHeading {
    text-align: center;
    margin: 10px 0 20px;
    color: rgb(14, 149, 205);
    font-size: 30px;
}

#saveButton {
    background-color: rgb(14, 148, 205);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

#saveButton:hover {
    background-color: rgb(35, 149, 198);
}

#leaveTypeFilter {
    position: top-right;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

#submitLeaveHistory {
    background-color: rgb(14, 149, 205);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Adjust margin as needed */
    margin-right: 10px; /* Adjust margin as needed */
    transition: background-color 0.3s;
}

#submitLeaveHistory:hover {
    background-color: rgb(35, 149, 198);
}